{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<!-- TODO: Feature 1 -->
<table class="table">
    <thead>
        <tr>
          <th scope="Name">Name</th>
          <th scope="Director">Director</th>
          <th scope="Rating">Rating</th>
        </tr>
      </thead>
    {% for x in key_list %}
        <tbody>
            <tr>
                <td>{{ x }}</td>
                <td>{{ movie_dict[x][0] }}</td>
                <td>{{ movie_dict[x][1] }}</td>
            </tr>
        </tbody>
    {% endfor%}
    </table>
{% endblock %}
